body {
    background-color: #0E94D1;
    font-family: Helvetica, Arial, sans-serif; /* Base Font */
    margin: 0;
    text-align: center;
}

.main {
    background-color: white;
    width: 700px;
    padding: 10px 150px 50px;
    margin: auto;
    border-radius: 5px;
}

h1 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 52px;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Ledger', serif;
    text-transform: uppercase;
    margin: 3rem 0 1rem;
    color: #0E94D1;
}

p, select {
    font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 1.25;
}

select {
    padding: 3px;
}

.springBtn {
    background-color: #0E94D1;
}

.summerBtn {
    background-color: #1BA848;
}

.autumnBtn {
    background-color: #FE6732;
}

.winterBtn {
    background-color: #1C64B9;
}
